@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #f4f5f9;
    font-family: "PT Sans", "Bebas Neue";
}

#root {
    width: 100%;
}

h3 {
    margin: 0 0 0 0;
}

.swiper {
    @media (max-width: 860px) {
        width: calc(100% - 80px);
    }

    display: flex;
    width: calc(100% - 160px);
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}
